.container-chat {
    padding-top: 80px;
    text-align: center;
  
}

.convo-box {
    margin-top: 60px;
    justify-content: center;
}

.chatroom-card {
    display: flex;
    border-bottom: 0.25px lightgrey solid;
    padding: 15px 0px;
    
}

.left-chatroom-card {
    display: flex;
    align-items: center;
    width: 40%;
    justify-content: center;
}

.chatroom-avatar {
    margin-right: 15px;
}

.sender-message {
    text-align: left;
    font-size: 14px;
}

.messages-container {
    margin-top: 60px;
    justify-content: center;
}

.message-card {
    display: flex;
    margin-bottom: 20px;
}

.left-message-card {
    display: flex;
    margin-right: 10px;
}

.right-chatroom-card {
    font-size: 14px;
}

.user-time-message {
    font-size: 10px;
    font-weight: 400;
    font-style: italic;
}

#messages {
    overflow-y: scroll;
    height: 55vh;
    margin-bottom: 10px;
    margin-top: 25px;

}

.message-content {
    font-weight: 400;
    font-size: 12px;
}