.container-chat {
    padding-top: 80px;
    text-align: center;
  
}

.convo-box {
    margin-top: 60px;
    justify-content: center;
}

.chatroom-card {
    display: flex;
    border: 1px black solid;
    padding: 10px;
    
}

.left-chatroom-card {
    display: flex;
    align-items: center;
    width: 35%;
}

.chatroom-avatar {
    margin-right: 15px;
}

.sender-message {
    text-align: left;
}

.messages-container {
    margin-top: 60px;
    justify-content: center;
}

.message-card {
    display: flex;
    margin-bottom: 20px;
}

.left-message-card {
    display: flex;
    margin-right: 10px;
}

.user-time-message {
    font-size: 10px;
}

#messages {
    overflow-y: scroll;
    height: 60vh;
    margin-bottom: 10px;
    margin-top: 25px;

}