.container {
    margin-top: 20px;
}

.carousel {
    position: relative;
    width: 100% !important;
}

.itinerary-card {
    width: 29%;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 40px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.carousel-inner>.item {
    -webkit-transition: 0s !important;
    -o-transition: 0s !important;
    transition: 0s !important;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 40px;
}

.name-duration {
    display: flex;
    justify-content: space-between;
    padding: 9px 9px;
}

.i-name a {
    text-decoration: none;
}