.new-form {
    margin-top: 120px;
}

.new-form-box {
    justify-content: center;
}

#charcount {
    font-size: 10px;
    margin-bottom: 10px;
    text-align: end;
} 

#custom-button {
    border: 1px solid #d3d3d3;
    padding: 13px 15px;
    cursor: pointer;
    font-weight: 500;
    background-color: white;
    color: black;
    border-radius: 5px;

    &:hover {
        color: salmon;
    }
  }

  #custom-text {
    margin-left: 10px;
    font-family: sans-serif;
    color: #aaa;
  }

  .itinerary_photos {
    visibility: collapse;
  }

  .buttons-box {
      display: flex;
  }