

.carousel {
    position: relative;
    width: 25% !important;
}

.title {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 20px;
}

.bootstrap-tabs {
    margin: 40px 0px;
}

.nav > .nav-item > a {
    color: black;
}

.nav > .nav-item > .active {
    color: salmon;
  }
  
.nav > .nav-item > a:hover {
    color: salmon;
  }

.tab-content {
    margin-top: 20px;
}

.info {
    margin-bottom: 10px;
}

.button-list {
    margin-top: 20px;
}

.d-image-box {
    display: flex;
    justify-content: space-between;
}

.destination-image {
    width: 49%;
}

.destination-image img {
    width: 100%;
    margin-top: 15px;
}

.activity-image {
    width: 100%;
}

.activity-image img {
    width: 100%;
    margin-bottom: 20px;
}

.activity-box {
    margin-top: 50px;
    margin-bottom: 25px;
}

.category {
    margin-top: 50px;
}

.no-itinerary {
    margin-top: 40px;
}

.marker-container img {
    width: 100%;
}