.user-edit-form {
    margin-top: 65px;
}

#user_description {
    height: 130px;
}

.title-edit {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 0.1px solid lightgrey;
}

.description {
    padding-left: 10px;
    padding-right: 10px;
}

.about {
    margin-right: 5px;
}

.buttonsform  {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.update-avatar-title {
    text-align: center;
}

.update-avatar {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 15px;
}

.update-avatar-button {
    display: flex;
    justify-content: center;
    margin-top: 35px;
}

.photo-chosen {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6px;
}

.upload-photo {
    display: flex;
    align-items: center;
    justify-content: center;
}