.user-edit-form {
    margin-top: 65px;
}

#user_description {
    height: 130px;
}

.new-form-box-avatar {
    text-align: center;
}

.new-form-user-avatar {
  display: inline-block;
  margin-top: 190px;
}

.title-edit {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.description {
    padding-left: 10px;
    padding-right: 10px;
}

.about {
    margin-right: 5px;
}