<!------------------------------ Modal ---------------------------------------->
                                        <% if itinerary.publish == true %>
                                            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLongTitle"><i class="fas fa-check-square tick-green-modal"></i></h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            This itinerary is published. Other Travelizers can read it and contact you with any questions. If your itinerary is not finished yet, you can unpublish it any time.
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="search-button-modal" data-dismiss="modal">Close</button>
                                                            <button type="button" class="search-button-modal"><%= link_to "Unpublish", edit_itinerary_path(itinerary)%></button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        <% else %>
                                    <!------------------------------ Modal ------------------------------------------>
                                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLongTitle"><i class="fas fa-minus-square icon-orange"></i></h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            This itinerary has not been published yet. If you are happy with it, you can publish it now!
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="search-button-modal" data-dismiss="modal">Close</button>
                                                            <button type="button" class="search-button-modal"><%= link_to "Publish", edit_itinerary_path(itinerary)%></button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        <% end %>
                                    <!------------------------------ End of Modal --------------------------------------->