<div class="container">
  <div class="new-form-box-avatar row">
    <div class="new-form-user-avatar col-12 col-lg-12">
        <div class="avatar-profile-box" >
            <h1>Update your profile picture</h1>
            <% if @user.avatar.attached? %>
                <%= cl_image_tag @user.avatar.key, class:"avatar-profile"%>
            <%else%>
                <div class="avatar-profile">
                    <i class="fas fa-user-circle"></i>
                </div>
            <%end%> 
        </div>
        <div>
            <%= simple_form_for @user do |f| %>
                <%= f.file_field :avatar %>
                <%= f.submit "Save changes"%>
            <% end %>
        </div>
    </div>
  </div> 
</div>