    <div class="home-background">
        <div class="form-box">
            <p>Plan your next trip!</p>
            <div class="input-field">
                <%= form_tag itineraries_path, method: :get do %>
                    <%= text_field_tag :query,
                    params[:query],
                    class: "form-control",
                    placeholder: "Where are you going?"
                    %>
            </div>    
            <div class="submit-button">
                <%= submit_tag "Search", class: "search-button" %>
            </div>
            <% end %>
        </div>
    </div>    
