.navbar-lewagon {
  justify-content: space-between;
  background: white;
  z-index: 100;
  position: fixed;
  width: 100%;
  border-bottom: 0.5px solid lightgrey;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

.rounded-circle {
  width: 30px;
  height: 30px;
  border-radius: 50px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 70px;
}
